.timeline_item:first-child {
  margin-top: 3rem;
}
.timeline_item:last-child {
  margin-bottom: 3rem;
  padding-bottom: 0;
}
.timeline_item::before {
  content: " ";
  width: 2px;
  height: 100%;
  background-color: var(--background-graduation-cap-color);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  margin-right: 1.5rem;
}
.timeline-icon {
  position: absolute;
  left: -10px;
  top: 0;
  color: var(--background-graduation-cap-color);
  background-color: var(--card-background-color);
  z-index: 2;
  padding-top: 2px;
  padding-bottom: 2px;
}
.timeline__title {
  color: var(--timeline-primary-title-text-color);
}
.timeline__date,
.timeline__desc {
  color: var(--education-primary-text-color);
}
@media screen and (min-width: 640px) {
  .timeline_item::before {
    left: -30px;
  }
  .timeline-icon {
    left: -46px;
  }
}
