.heading {
  color: var(--primary-text-color);
}
.work_items {
  color: var(--primary-text-color);
}
.work__card {
  background-color: var(--card-background-color);
}
.work_items:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}
.work__mask {
  background-color: var(--workmask-primary-background-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}
.work__category {
  color: var(--workmask-primary-text-color);
  background-color: #ff6e5d;
  position: absolute;
  top: 0;
  left: 1.25rem;
  padding: 0.25rem 0.5rem;
  transform: translateY(-40px);
  transition: 0.3s;
  display: none;
}
.work__card:hover .work__mask {
  transition: 0.1s;
  opacity: 0.9;
}
.work__title {
  color: var(--workmask-primary-text-color);
  position: absolute;
  top: 2rem;
  transform: translateY(5px);
  transition: 0.3s;
  opacity: 0;
}
.work__button {
  color: #fff;
  position: absolute;
  left: 1.25rem;
  bottom: 1.5rem;
  display: block;
  background-color: #ffd15c;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}
.work__card:hover .work__button {
  opacity: 1;
}
.work__card:hover .work__title,
.work__card:hover .work__category {
  opacity: 1;
  display: block;
  transform: translateY(0);
}
